body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

#app {
    margin: 20px;
}

#user-info {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    display: inline-block;
    text-align: left;
}
